<ion-view title="Dokumente" class="home">
   <ion-content class="has-header">
      <div class="list card">

         <div class="item item-thumbnail-left">
            <img src="./img/pdf.jpeg">

            <h2>Anleitung 1</h2>

            <p>Installationsanleitung</p>
         </div>



         <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item"  href="#/app/geraet">
               <i class="icon ion-ios7-compose-outline"></i>
               Download
            </a>

         </div>

      </div>

      <div class="list card">

         <div class="item item-thumbnail-left">
            <img src="./img/pdf.jpeg">

            <h2>Anleitung 2</h2>

            <p>Gebrauchsanweisung</p>
         </div>



         <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item"  href="#/app/geraet">
               <i class="icon ion-ios7-compose-outline"></i>
               Download
            </a>

         </div>

      </div>
   </ion-content>
</ion-view>
