<div class="modal">
  <ion-header-bar>
    <h1 class="title">Meine Geräte</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list class="list">      			      
		     			<a class="item item-avatar item-icon-right" href="#/app/geraet" ng-click="closeLogin()">
                      <img src="./img/1.jpg"> 
	 	         	    <i class="icon ion-ios7-arrow-right"></i>
                      <h2>Vector Paro</h2>
                      <p>Maßstab in Sachen schmerzarmer Therapie</p>
                    </a>
                    	<a class="item item-avatar item-icon-right" href="#/app/geraet" ng-click="closeLogin()">
                      <img src="./img/2.jpg">
                      <i class="icon ion-ios7-arrow-right"></i>
                      <h2>Vector Scaler</h2>
                      <p>Professionelle Zahnreinigung der Extraklasse</p>
                    </a>
                    	<a class="item item-avatar item-icon-right" href="#/app/geraet" ng-click="closeLogin()">
                      <img src="./img/3.jpg"> 
                      <i class="icon ion-ios7-arrow-right"></i>
                      <h2>Vista Pano S</h2>
                      <p>neues digitale Panoramaröntgengerät mit S-Pan Technologie</p>
                    </a>
       				</ion-list>
  </ion-content>
</div>

